.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 5;
  width: 100%;
  height: 80px;
  /*must ( I think) set the height in order to get correct distanse
  between fixed header box and scrolling box below, which must be
  ofset from the top by min 100px*/
  border-bottom: 1px solid black;
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 20px;
  /*padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;*/
  flex-grow: 1;
}
.logo img {
  width: 70px;
  height: 60px;
  /* I don't know if it is neccesary to set the
  image width and height?*/
}
.logo-text {
  color: MediumAquamarine;
  padding-left: 15px;
  /*align-content: center;*/
}
.nav {
  display: flex;
  padding-right: 30px;
}
.nav a {
  display: inline-block;
  color: black;
  text-decoration: underline;
  padding: 10px;
}
div {
  border: 1px solid black;
  /* to be deleted later */
}
.main-container {
  display: flex;
  position: relative;
  top: 110px;
  /* or padding?*/
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
.main-story {

}
.image-main {

}
.news-text {

}
.leftcol-stories {

}
.story {

}
